
h2 {
    font-style: Serif
}
li {
     background-color: blue;
}
p {
    margin-top: 50px;
    margin-bottom: 25px;
    margin-right: 100px;
    margin-left: 60px;
}
img {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
